/* ~*~*~*~*~*~*~*~*
General
~*~*~*~*~*~*~*~* */


/* ~*~*~*~*~*~*~*~*
Navbar
~*~*~*~*~*~*~*~* */

.navbar-brand {
    font-size: 1.8em;
}

@media (max-width: 991px) and (min-width: 768px) {
    .form-control {
        width: 120px !important;
    }
}


/* ~*~*~*~*~*~*~*~*
top-container
~*~*~*~*~*~*~*~* */

#top-container {
    background-image: url('../img/182813.jpg');
    background-size: cover;
    width: 100%;
}