/* ~*~*~*~*~*~*~*~*
General
~*~*~*~*~*~*~*~* */

.bold {
    font-weight: bold;
}

.margin-top {
    margin-top: 20px;
}

.section-container {
    background-size: cover;
    width: 100%;
}

/* ~*~*~*~*~*~*~*~*
Navbar
~*~*~*~*~*~*~*~* */

.navbar-brand {
    font-size: 1.8em;
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .login-control {
        width: 120px !important;
    }
}


/* ~*~*~*~*~*~*~*~*
top-container
~*~*~*~*~*~*~*~* */

#top-container {
    background-image: url('../img/182813.jpg');
}

#top-content {
    text-align: center;
    color: #222;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 30px 15px 50px 15px;
    border-radius: 1%;
    margin-top: 50px;
    width:
}

#top-content h1 {
    font-size: 3em;
}

/* ~*~*~*~*~*~*~*~*
mid-container
~*~*~*~*~*~*~*~* */

#mid-container {
    border-top: 1px solid white;
    background-image: url('../img/259552.jpg');
}